.section7 {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  letter-spacing: -1.5px;
}

/* 이미지 있는 부분 (이미지끼리의 간격조정) */

.wrapper7 {
  width: 100%;
  height: 570px;
  display: flex;
  box-sizing: border-box;
}

.container7 {
  margin: 20px;
}

.container7:hover {
  transform: scale(1.01);
  transition: transform 0.5s;
  cursor: pointer;
}

/*  background 이미지 넣은 부분 */
.box7_background1 {
  background-image: url(../images/section7/section7_1.jpg);
  width: 480px;
  height: 500px;
  border-radius: 20px;
}

.box7_background2 {
  background-image: url(../images/section7/section7_2.jpg);
  width: 480px;
  height: 500px;
  border-radius: 20px;
}

.box7_background3 {
  background-image: url(../images/section7/section7_3.jpg);
  width: 480px;
  height: 500px;
  border-radius: 20px;
  background-size: contain;
  background-position: bottom;
}

.box7_background4 {
  background-image: url(../images/section7/section7_4.jpg);
  width: 480px;
  height: 500px;
  border-radius: 20px;
}
.box7_background5 {
  background-image: url(../images/section7/section7_5.jpg);
  width: 480px;
  height: 500px;
  border-radius: 20px;
}

/* 사진 안에 들어있는 글자들에게 부여해주는 속성 */

.box7_text {
  padding: 30px;
}
.box7_text_white {
  padding: 30px;
  color: white;
}
.box_7_tv_white {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  width: 204px;
  height: 24px;
}

.box_7_description1 {
  font-size: 28px;
  font-weight: 600;
  width: 320px;
  height: 96px;
  padding-top: 10px;
}

.box7_description2 {
  font-size: 28px;
  font-weight: 600;
  width: 340px;
  height: 64px;
  padding-top: 40px;
}

.box7_description3 {
  font-size: 28px;
  font-weight: 600;
  width: 290px;
  height: 32px;
  padding-top: 40px;
}

.box7_description3_1 {
  font-size: 17px;
  font-weight: 400;
  width: 290px;
  height: 32px;
  padding-top: 10px;
}

.box7_description4 {
  font-size: 28px;
  font-weight: 600;
  width: 290px;
  height: 32px;
  padding-top: 40px;
}

.box7_home {
  font-size: 12px;
  width: 204px;
  height: 32px;
  color: #6e6e73;
}

.box7_description5 {
  font-size: 28px;
  font-weight: 600;
  width: 340px;
  height: 64px;
}
