.section5 {
  box-sizing: border-box;
  width: 100%;
  height: 630px;
}

/*  background 이미지 넣은 부분 */

.box5_background1 {
  background-image: url(../images/section5/section5_1.jpg);
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.box5_description1 {
  font-size: 17px;
  width: 340px;
  height: 52px;
  padding: 0 30px;
}
.box5_background2 {
  background-image: url(../images/section5/section5_8.jpg);
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

/* 이미지 있는 부분 (이미지끼리의 간격조정) */

.wrapper5 {
  width: 100%;
  height: 470px;
  display: flex;
  box-sizing: border-box;
}

.container5 {
  margin: 20px;
}

.container5:hover {
  transform: scale(1.01);
  transition: transform 0.5s;
  cursor: pointer;
}

.box5 {
  margin: 20px;
  padding: 40px;
  background-color: white;
  width: 230px;
  height: 420px;
  border-radius: 20px;
}

.box5:hover {
  transform: scale(1.01);
  transition: transform 0.5s;
  cursor: pointer;
}

.box5_img {
  padding-top: 41px;
  width: 230px;
  height: 230px;
}

.box5_color_choice {
  width: 230px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0 14px 0;
}

.color {
  width: 12px;
  height: 12px;
  padding-left: 8px;
}

.plus {
  font-size: 12px;
  padding-left: 8px;
}

.box5_new {
  color: #bf4800;
  font-size: 12px;
  width: 252px;
  height: 16px;
  font-weight: 400;
}

.box5_item_name {
  font-size: 17px;
  font-weight: 600;
  width: 252px;
  height: 42px;
}

.box5_price {
  font-size: 14px;
  font-weight: 400;
  width: 252px;
  height: 18px;
  margin-top: 27px;
}

.box5_title {
  font-size: 28px;
  font-weight: 600;
  padding: 30px;
}
